@font-size: 18px;
@main-font: 'Georgia', Arial, Helvetica, sans-serif;
@main-color: #5a5a5a;
@blue-color: #2e3192;
@link-color: #595959;



.radius(@size) {
	border-radius:@size; 
	-webkit-border-radius:@size; 
	-moz-border-radius:@size; 
	-khtml-border-radius:@size;
}

.gradient(@pos, @color1, @color2) {
	background: linear-gradient(@pos, @color1, @color2);
	background: -moz-linear-gradient(@pos, @color1, @color2);
	background: -ms-linear-gradient(@pos, @color1, @color2);
	background: -o-linear-gradient(@pos, @color1, @color2);
	background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
    box-shadow:@x @y @fade @size @color; 
	-webkit-box-shadow:@x @y @fade @size @color; 
	-moz-box-shadow:@x @y @fade @size @color; 
	-khtml-box-shadow:@x @y @fade @size @color; 
	-o-box-shadow:@x @y @fade @size @color;
}

.srchInputBox{float: left; width: 258px; height: 37px; position: relative; left: 0; top: 0;
	.kris-drdSrchBox{width: 335px; position: absolute; left: 0; top: 40px; background-color: #ffffff; border: 2px solid #f2f2f2; z-index: 9999; display: none;
		.kris-drdSrch{float: left; width: 329px; margin-left: 3px; margin-bottom: 10px;
			.liTit{float: left; width: 329px; font-size: 14px; color: @blue-color; font-weight: bold; margin-top: 20px;}
			.drdSrch-ul{float: left; width: 329px; list-style-type: none; font-size: 14px; color: @blue-color; font-weight: bold;
				li{float: left; width: 329px; margin-top: 2px; background-repeat: no-repeat; background-position: 10px center; &:hover{background-color: #f0f0f0; background-image:url('../img/squarli.jpg');}
					.is-l{float: left; width: 170px; margin-right: 15px;}
					.is-r{float: left; width: 130px;}
					a{float: left; width: 319px; margin-left: 20px; font-size: 14px; color: @main-color; font-weight: 300; &:hover{color: @blue-color;}}
				}
			}
			.drdSrch-ul:first-child{margin-top: 0px;}
		}
		.kris-drdSrch-close{float: left; width: 315px; height: 30px; margin-bottom: 10px; padding-left: 20px; cursor: pointer; text-decoration: underline; &:hover{text-decoration: none;}}
	}
}















