@font-size: 18px;
@main-font: 'Georgia', Arial, Helvetica, sans-serif;
@main-color: #5a5a5a;
@blue-color: #2e3192;
@link-color: #595959;



.radius(@size) {
	border-radius:@size; 
	-webkit-border-radius:@size; 
	-moz-border-radius:@size; 
	-khtml-border-radius:@size;
}

.gradient(@pos, @color1, @color2) {
	background: linear-gradient(@pos, @color1, @color2);
	background: -moz-linear-gradient(@pos, @color1, @color2);
	background: -ms-linear-gradient(@pos, @color1, @color2);
	background: -o-linear-gradient(@pos, @color1, @color2);
	background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color){
    box-shadow:@x @y @fade @size @color; 
	-webkit-box-shadow:@x @y @fade @size @color; 
	-moz-box-shadow:@x @y @fade @size @color; 
	-khtml-box-shadow:@x @y @fade @size @color; 
	-o-box-shadow:@x @y @fade @size @color;
}


.kris-fadeBunner{height: 340px; position: relative; left: 0; top: 0; margin-bottom: 20px;
	.imdbox{float: left; width: 100%; height: 340px; position: absolute; left: 0; top: 0; z-index: 10; list-style-type: none;
		.img-item{float: left; width: 100%; height: 340px; position: absolute; left: 0; top: 0; opacity: 0; z-index: 12;}
		.img-item.it1{opacity: 1; z-index: 15;}
		a{float: left; width: 100%; height: 340px;}
		span{color: @blue-color; text-decoration: underline; position: absolute; right: 10px; top: 10px; color:#9f9f9f; font-size: 16px; &:hover{text-decoration: none;}}
	}
	.titBoxFon{float: left; width: 210px; height: 340px; position: absolute; left: 0; top: 0; z-index: 20; background-color: #ffffff; opacity: 0.85;}
	.titBoxBord{float: left; width: 210px; height: 340px; position: absolute; left: 0; top: 0; z-index: 21; list-style-type: none;
		li{float: left; width: 100%; height: 66px; border-top: 2px solid #ffffff; background-image: url('../img/fadeBunner/shadTit.png'); background-repeat: no-repeat; }
		li:first-child{height: 68px; border-top: 0px solid transparent; background-image: none;}
	}
	.goBoxFon{float: left; width: 220px; height: 340px; position: absolute; left: 0; top: 0; z-index: 25;
		.hoverTit{width: 220px; background-color: #ffffff; top: 0px; height: 70px; opacity: 0.95; position: absolute; z-index: 28; left: 0; top: 0; background-image: url('../img/fadeBunner/strFon.png'); background-repeat: no-repeat; background-position: right center;}
	}
		.titBox{float: left; width: 210px; height: 340px; position: absolute; left: 0; top: 0; z-index: 30; list-style-type: none; cursor: pointer;}
			.tit-item{float: left; width: 100%; height: 66px; border-top: 2px solid transparent;}
			.tit-item:first-child{height: 68px;}
			.libox{float: left; width: 100%; height: 100%; position: relative; overflow: hidden;
				a{float: left; width: 100%; height: 100%;}
				.fon{width: 8px; height: 8px; display: block; background-color: #999999; position: absolute; left: 11px; top: 21px;}
				.titTxt{float: left; height: 100%; margin-left: 35px; font-size: 18px; font-weight: normal;
					span{float: left; margin-top: 15px;} 
				}
			}
			.tit-item.active{
				.libox{
					.fon{background-color: @blue-color;}
					.titTxt{
						span{color: @blue-color;}
					}
				}
			}
			.tit-item.tit1{
				.hoverTit{top: 0px; height: 71px;}
			}
		.indicatorImg{position: absolute; list-style-type: none; right: 80px; bottom: 40px; z-index: 40;
			li{float: left; width: 28px; height: 28px; background-image: url('../img/fadeBunner/indFon.png'); background-repeat: no-repeat; margin-right: 10px; background-position: left top;}
			li.active{width: 28px; height: 28px; background-position: left bottom;}
		}
			
}




