.radius(@size) {
	border-radius:@size; 
	-webkit-border-radius:@size; 
	-moz-border-radius:@size; 
	-khtml-border-radius:@size;
}


.kris-move-line{float: left; width: 780px; height: 105px; position: relative;
	.hintML{position: absolute; z-index: 1200; left: 0px; top: 0px; width: 120px; padding: 0 5px; display: block; height: 30px; font-size: 10px; line-height: 30px; background-color: #ffffff; 
			color: #000000; .radius(3px); display: none;}
	.bigInnerImg{position: absolute; left: 0px; top: 0px; display: none; cursor: pointer; z-index: 1000; overflow: visible;
		img{width: 100%; height: 100%;}
	}
	.leftBtn{float: left; width: 34px; margin-right: 10px; height: 100%;  background-image: url('../img/moreInfoBtn-l.jpg'); background-position: left center; background-repeat: no-repeat; cursor: pointer;}
	.parrent{float: left; width: 689px; height: 100%; position: relative; left: 0px; top: 0px; overflow: hidden;}
		.rels{float: left; width: 99999px; height: 100%; position: absolute; left: 0px; top: 0px; z-index: 10;}
			.item{float: left; width: 80px; height: 100px; border: 2px solid #f0f0f0; padding-left: 10px; padding-right: 10px; margin-left: 13px; &:hover{border: 2px solid #5f61ac;}}
			.item:first-child{margin-left: 0px;}
				.itemInner{width: 80px; height: 100px; display: table;}
					.itemInnerCell{width: 80px; height: 100px; display: table-cell; vertical-align: middle; text-align: center;
						img{max-width: 80px; max-height: 100px;}
					}
	.rightBtn{float: left; width: 34px; margin-left: 10px; height: 100%; background-image: url('../img/moreInfoBtn-r.jpg'); background-position: right center; background-repeat: no-repeat; cursor: pointer;}
}





















