.shadow(@x, @y, @fade, @size, @color) {
    box-shadow:@x @y @fade @size @color; 
	-webkit-box-shadow:@x @y @fade @size @color; 
	-moz-box-shadow:@x @y @fade @size @color; 
	-khtml-box-shadow:@x @y @fade @size @color; 
	-o-box-shadow:@x @y @fade @size @color;
}


.kris-fonbox{background-image: url('../img/shmorebkg.png'); width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9990; display: none; opacity: 0;}
.kris-showBody.isType1{width: 730px; height: 490px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType1{float: left; width: 710px; height: 460px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType1{float: left; width: 640px; height: 390px; margin: 35px;
			.showInfoVa{width: 640px; height: 390px; display: table-cell; vertical-align: middle; text-align: center;
				img{max-height: 100%; max-width: 100%;}
			}
		}


.kris-showBody.isType2{width: 600px; height: 530px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType2{float: left; width: 580px; height: 480px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType2{float: left; width: 520px; height: 420px; margin: 30px;}
			.regTpl{float: left; width: 100%;}

.kris-showBody.isType3{width: 580px; height: 660px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType3{float: left; width: 560px; height: 610px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType3{float: left; width: 500px; height: 550px; margin: 30px;}

.kris-showBody.isType4{width: 875px; height: 680px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType4{float: left; width: 855px; height: 630px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType4{float: left; width: 795px; height: 490px; margin: 30px;}

.kris-showBody.isType5{width: 580px; height: 440px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType5{float: left; width: 560px; height: 390px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType5{float: left; width: 500px; height: 330px; margin: 30px;}

.kris-showBody.isType6{width: 580px; height: 280px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType6{float: left; width: 560px; height: 230px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType6{float: left; width: 500px; height: 170px; margin: 30px;}

.kris-showBody.isType7{width: 570px; height: 640px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType7{float: left; width: 550px; height: 590px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType7{float: left; width: 490px; height: 530px; margin: 30px;}

.kris-showBody.isType8{width: 940px; height: 540px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType8{float: left; width: 920px; height: 490px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType8{float: left; width: 860px; height: 440px; margin: 30px;}

.kris-showBody.isType9{width: 390px; height: 220px; position: absolute; left: 0; top: 0; z-index: 9999; display: none; opacity: 0;}
	.kris-showClose{background-image: url('../img/closeSm.png'); width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer;}
	.kris-showBox.isType9{float: left; width: 370px; height: 170px; background-color: #ffffff; .shadow(0px, 0px, 5px, 2px, #e2e2e2); margin-top: 15px;}
		.kris-showInfo.isType9{float: left; width: 310px; height: 130px; margin: 30px;}



















