@font-size: 18px;
@main-font: 'Georgia', Arial, Helvetica, sans-serif;
@main-color: #5a5a5a;
@blue-color: #2e3192;
@link-color: #595959;



.radius(@size) {
	border-radius:@size; 
	-webkit-border-radius:@size; 
	-moz-border-radius:@size; 
	-khtml-border-radius:@size;
}

.gradient(@pos, @color1, @color2) {
	background: linear-gradient(@pos, @color1, @color2);
	background: -moz-linear-gradient(@pos, @color1, @color2);
	background: -ms-linear-gradient(@pos, @color1, @color2);
	background: -o-linear-gradient(@pos, @color1, @color2);
	background: -webkit-linear-gradient(@pos, @color1, @color2);
}

.shadow(@x, @y, @fade, @size, @color) {
    box-shadow:@x @y @fade @size @color; 
	-webkit-box-shadow:@x @y @fade @size @color; 
	-moz-box-shadow:@x @y @fade @size @color; 
	-khtml-box-shadow:@x @y @fade @size @color; 
	-o-box-shadow:@x @y @fade @size @color;
}
.kris-line{float: left; width: 100%;}
.kris-onePthree{float: left; width: 33.33%;}


input, textarea {outline:none; font-family: Georgia, Arial, Helvetica, sans-serif;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}


/*---------------------------------------------------------------------------------main----------------------------------------------------------------------------------------*/
* { margin:0px; padding:0px; }
header, nav, section, article, aside, footer{display:block;}
html {height: 100%;}
body {height:auto !important; min-height:100%; height:100%; position:relative; font-family:@main-font; font-size:@font-size; color:@main-color; background-color:#FFFFFF;}
img{border:0px; outline:none;}
a{color:@link-color; text-decoration:none;}
.kris-totop{width: 33px; height: 33px; background-image:url('../img/totop.jpg'); position: fixed; right: 0; bottom: 0; cursor: pointer; z-index: 9999; display: none;}

.kris-page{display:block; width:100%;}
	.kris-page-head{float: left; width: 100%; position: fixed; left: 0; top: 0; z-index: 100;}
	.kris-page-boody{float: left; width: 100%; padding-top: 180px; position: relative; left: 0; top: 0; z-index: 10;}
.kris-main{display:block; margin:0px auto; width:980px;}
.kris-content{float:left; display:block; width:980px;}
.kris-main-body{float:left; width:940px; margin-left: 20px; position: relative; }
.lineBkgToBot{background-image:url('../img/headfonToBot.jpg'); background-repeat: no-repeat; background-position: left bottom; padding-bottom: 45px;}
.lineBkgToTop{background-image:url('../img/headfonToTop.jpg'); background-repeat: no-repeat; background-position: left top; padding-top: 45px;}
.blue-h{font-size: 33px; color: @blue-color; font-weight: normal; margin-right: 20px;}
.mBot15{margin-bottom: 15px;}
.mBot20{margin-bottom: 20px;}
.mBot30{margin-bottom: 30px;}
.mBot45{margin-bottom: 45px;}
.isCenter{text-align: center;}
.blueColor{color: @blue-color;}


.kris-onlineK{width: 178px; height: 47px; background-image:url('../img/onlineK.jpg'); position: fixed; right: 0; bottom: 0; cursor: pointer; z-index: 9989;}
.uptolike-buttons{float: left; width: 250px; height: 40px;}
/*---------------------------------------------------------------------------------head----------------------------------------------------------------------------------------*/
.kris-h{float: left; width: 940px;  padding-top: 16px; background-color: #ffffff; padding-bottom: 25px;}
	.h-topline{margin-bottom: 8px;}
		.kris-main-nav{float: left; width: 700px;}
			.kris-m-nav-l{float: left; width: 200px;}
				.m-nav-l-ul{list-style-type: none;
					li{float: left; width: 100%; margin-bottom: 5px;
						a{color: @blue-color; font-size: 20px; &:hover{text-decoration: underline;}; &:active{text-decoration: underline;}}
					}
				}
			.kris-m-nav-r{float: right; width: 480px; margin-top: 11px;}
				.m-nav-ul{list-style-type: none;
					li{float: left; margin-left: 40px;
						a{color: @link-color; font-size: @font-size; padding-bottom: 5px; &:hover{border-bottom: 5px solid @blue-color;}; &:active{border-bottom: 5px solid @blue-color;}}
					}
					li:first-child{margin-left: 0px;}
				}
		.kris-main-contact{float: right; width: 240px;
			.kris-address{float: right; font-style: normal; color: @blue-color; text-align: right; position: relative; top: -7px;
				.tel{margin-bottom: 5px; font-size: 26px;}
				.mail a{color: @blue-color; font-size: 20px; &:hover{text-decoration: underline;}}
			}	
		}
		.kris-main-contact.bottom{float: left;
			.kris-address{float: left; text-align: left;
				.tel{font-size: 22px;}
				.mail a{font-size: 16px;}
			}	
		}	
	.h-midline{height: 39px;}
		.kris-srch-input{float: left; width: 246px; height: 35px; border: 2px solid #f2f2f2; padding-left: 10px; font-size: 20px; color: @main-color; line-height: 32px;}
		.kris-srch-submit{float: left; width: 39px; height: 39px; margin-left: 1px; background-image:url('../img/srchbtn.jpg'); border: 0px; background-color: transparent; cursor: pointer; background-position: center center;}

		.kris-logobox{float: left; width: 100%; height: 53px; text-align: center; position: relative; top: -15px;}

		.kris-liketxtbox{float: right; width: 260px; height: 39px; &:hover{.kris-favMenu{display: block;}}}
		.kris-likebtn{float: right; width: 39px; height: 39px; margin-right: 1px; background-image:url('../img/likebtn.jpg'); border: 0px; background-color: transparent; background-position: center center;}
		.kris-liketxt{float: right; width: 246px; height: 35px; cursor: pointer; border: 2px solid #f2f2f2; padding-left: 10px; font-size: 20px; color: @main-color; line-height: 32px; font-size: 16px;
			.likeCounter{color: @blue-color; font-size: 24px;}
			.kart{font-size: 20px;}
		}
		.kris-likeddm{float: left; width: 260px; position: relative; left: 0; top: 0; height: 10px; z-index: 9999;}
			.kris-favMenu{float: left; width: 256px; position: absolute; left: 0; top: 1px; border: 2px solid #f2f2f2; background-color: #ffffff; display: none;
				ul{float: left; list-style-type: square; padding: 10px 10px 0px 10px; list-style-position: inside;
					li{float: left; font-size: 14px; margin-bottom: 10px; width: 100%;
						a{font-size: 14px; color: #757575;}
						a:hover{color: #2e3192;}
					}
				}
			}


/*---------------------------------------------------------------------------------advsrchline----------------------------------------------------------------------------------------*/
.advsrchboxPar{position: relative; left: 0; top: 0; z-index: 999;}
	.advsrchbox{position: absolute; left: 0; top: 0; background-color: #ffffff; padding-top: 15px; display: none;}
		.advsrchformat{padding-bottom: 20px;}
	.kris-lkbox{float: right; width: 260px;  height: 30px;
		a{float: left; line-height: 30px; height: 30px; color: #9f9f9f; font-size: 16px; &:hover{border-bottom: 5px solid @blue-color;};}
	}
		.kris-advsrchbox{float: left; height: 30px; line-height: 30px; background-image:url('../img/advsrchfon.jpg');  color: #9f9f9f; font-size: 16px;
							background-repeat: no-repeat; background-position: right top; padding-right: 35px; cursor: pointer;}
		.kris-advsrchbox.active{background-position: right bottom;}

			.kris-advsrchtit{float: left; height: 100%; &:hover{border-bottom: 5px solid @blue-color;};}
		.kris-advsrch-body{float: left; width: 940px;}
			.priceboxSrch{float: left; width: 470px;
				label{float: left; height: 34px; line-height: 34px; margin-right: 10px;}
				input{float: left; height: 30px; border: 2px solid #f2f2f2; width: 90px; text-align: center; font-size: 16px; color: @main-color; font-weight: normal;}
				span{float: left; height: 34px; line-height: 34px; }
				.rub{margin-left: 10px;}
			}
			.typeboxSrch{float: left; width: 470px; position: relative; top: -10px;
				.kris_checkbox_t1{float: left; width: 225px; height: 50px;}
				.krisform_checkbox{float: left; width: 200px; height: 45px; border: 2px solid #f2f2f2; text-align: center; line-height: 45px; font-size: 19px; cursor: pointer;  }
				.checkbox_active{border: 2px solid #2c3290; background-color: #f2f2f2; color: @blue-color; background-image:url('../img/check-act.jpg'); background-repeat: no-repeat; background-position: 15px 15px;}
			}
			.chechboxfilter{position: relative;
				.chechboxfilterMain{float: left; width: 815px;
					.kris_checkbox_t1{float: left; width: 200px; height: 40px; margin-bottom: 10px}
					.krisform_checkbox{float: left; width: 155px; height: 35px; border: 2px solid #f2f2f2; line-height: 35px; font-size: 15px; cursor: pointer; padding-left: 30px;}
					.checkbox_active{border: 2px solid #2c3290; background-color: #f2f2f2; color: @blue-color; background-image:url('../img/check-act.jpg'); background-repeat: no-repeat; background-position: 10px 12px;}
				}
				
			}

.kris-advsrch-submit{float: left; width: 130px; height: 35px; background-color: #ffffff; position: absolute; right: 0; bottom: 10px; font-size: 19px; color: @blue-color; 
	font-weight: normal; cursor: pointer; text-align: center; border: 1px solid @blue-color; &:hover{border: 2px solid @blue-color;} &:active{border: 2px solid @blue-color;}}
	.advsrchclose{float: left; width: 100%; height: 19px; background-image:url('../img/advsrchclose.jpg'); cursor: pointer; background-position: center center; background-repeat: no-repeat; padding-top: 10px; padding-bottom: 10px;}

/*---------------------------------------------------------------------------------mainBunner----------------------------------------------------------------------------------------*/
.kris-mainBanner{height: 340px; position: relative; left: 0; top: 0;}
/*---------------------------------------------------------------------------------about----------------------------------------------------------------------------------------*/
.section-about{padding-top: 15px; margin-bottom: 45px;}
.kris-box-about-l{float: left; width: 240px;}
.kris-box-about-c{float: left; width: 420px;
	p{text-indent: 25px; text-align: justify;}
}
.kris-box-about-r{float: left; width: 280px;
	p{color: @blue-color; font-size: 16px; margin-left: 40px; font-style: italic;}
	p.center{text-align: center;}
	p.h2{font-size: 24px;}
	p.justify{text-align: justify;}
}

.kris-main-h2{font-size: 35px; color: #3d3d3d; font-weight: normal; text-align: center; margin-top: 30px;}

/*---------------------------------------------------------------------------------collection----------------------------------------------------------------------------------------*/
.iHint{position: absolute; z-index: 1200; left: 0px; top: 0px; padding: 5px; display: block; font-size: 10px; line-height: 30px; background-color: #ffffff; 
			color: #000000; .radius(3px); display: none; text-align: center;}
#info-about-pic{margin-left: 14px;}
.kris-titPic{float: left; width: 580px;}
.kris-soc-s{float: left; width: 380px; margin-top: 15px; height: 40px;}
.kris-soc-tit{float: left; line-height: 40px; height: 40px; margin-right: 5px;}
.pluso{float: left; display: block;}
.pluso-more{left: -99999px; top: -99999px}

.kris-collection{margin-bottom: 45px;}
.picline{float: left; width: 960px; margin-left: -14px;}
	.kris-coll-box{float: left; width: 220px; height: 280px; border: 2px solid #f0f0f0; margin-left: 14px; cursor: pointer; position: relative;
		a{float: left; display: block; width: 100%; height: 100%;}
	}

		.kris-coll-img{float: left; width: 200px; height: 200px; padding: 10px; text-align: center;
			img{max-width: 100%; max-height: 100%;}
		}
		.kris-coll-tit{float: left; width: 180px; height: 50px; margin: 0px 10px 10px 10px; padding-right: 20px;
			background-image:url('../img/collfon-pass.jpg'); background-repeat: no-repeat; background-position: right top;}
			.kris-coll-fg{float: left; width: 100%; height: 100%; overflow: hidden; font-size: 16px;}
	.kris-coll-box:hover{border: 2px solid #5f61ac;}
	.kris-coll-box:hover .kris-coll-tit{background-image:url('../img/collfon-act.jpg');}
	.kris-coll-box.active{border: 2px solid #7e7f81;}
	.kris-coll-box.active .kris-coll-tit{background-image:url('../img/collfon-act.jpg');}
	.showMore{cursor: pointer;}
	.kris-more-btn{width: 170px; height: 40px; margin: 0 auto; background-image:url('../img/btnmore.jpg'); background-repeat: no-repeat; background-position: right center; padding-right: 45px; line-height: 40px; text-align: right; font-size: 24px; color: #3d3d3d;}

/*---------------------------------------------------------------------------------collection line----------------------------------------------------------------------------------------*/
.kris-coll-line{margin-bottom: 45px;}
	.kris-coll-line-l{float: left; width: 160px;}
	.kris-coll-line-r{float: left; width: 780px; height: 105px;}
/*---------------------------------------------------------------------------------plus----------------------------------------------------------------------------------------*/
.kris-plus-ul{float: left; list-style-position: inside; margin-left: 30px; width: 365px; font-size: 16px; list-style-image:url('../img/ulmarker1.jpg'); 
	li{float: left; width: 100%; margin-bottom: 15px;}
}
.kris-plus-ul:first-child{margin-left: 0px;}

/*---------------------------------------------------------------------------------botinfo----------------------------------------------------------------------------------------*/
.kris-botinfo-l{float: left; width: 350px;
	a{float: right; display: block; font-size: 16px;
		img{float: left; width: 26px; height: 26px; margin-right: 10px;}
		span{float: left; line-height: 26px; &:hover{text-decoration: underline;}}
	}
}
.kris-botinfo-r{float: right; width: 350px;}



/*---------------------------------------------------------------------------------login----------------------------------------------------------------------------------------*/
.isTpl2{
	.kris-top-tit{float: left; width: 100%; height: 100px;
		h2{text-align: center; font-size: 40px; color: @blue-color; font-weight: 300;}
		h3{text-align: center; font-size: 24px; color: @blue-color; font-weight: 300;}
	}
	.kris-center{float: left; width: 100%; height: 200px; background-image:url('../img/headfonToBot.jpg'); background-repeat: no-repeat; background-position: center bottom; background-size: contain; padding-bottom: 15px;
		form{float: left; width: 100%; height: 100%;}
		.kris-form-input{float: left; width: 100%; height: 70px;
			input{width: 235px; height: 30px; background-color: #f2f2f2; border: 0px solid transparent; color: @main-color; font-size: 18px; padding: 5px;}
			input.login{float: left;}
			input.pass{float: right;}
		}
		.kris-form-btn{float: left; width: 100%; height: 70px;
			.form-btn-r{float: right; width: 100%; height: 52px; text-align: center;
				.submit{width: 238px; height: 50px; text-align: center; font-size: 30px; font-weight: 300; border: 1px solid @blue-color; color: @blue-color; background-color: #ffffff; cursor: pointer;}
			}
			.form-btn-reg{float: left; width: 100%; text-align: center; margin-top: 30px;
				a{text-decoration: underline; color: @blue-color; font-size: 24px; font-weight: 300;}
				a:hover{text-decoration: none;}
			}
		}
	}
	.kris-bottom{float: left; width: 100%; height: 100px;
		.kris-gowith{float: left; width: 340px; margin-left: 50px; margin-top: 50px;
			.kris-gowith-l{float: left;
				h3{font-size: 24px; font-weight: 300; color: @blue-color;}
			}
			.kris-gowith-r{float: left;}
		}
	}
}


/*---------------------------------------------------------------------------------konsultant----------------------------------------------------------------------------------------*/
.isTpl3{
	.kris-top-tit{float: left; width: 100%; height: 180px;
		h2{text-align: center; font-size: 40px; color: @blue-color; font-weight: 300; margin-bottom: 20px;}
		p{text-align: center; font-size: 18px; color: @main-color; font-weight: 300; margin-bottom: 20px;}
	}
	.kris-formbox{float: left; width: 100%; height: 370px;
		form{float: left; width: 100%; height: 100%;
			p{float: left; font-size: 14px; color: #aaa5a5; font-weight: 300; margin-bottom: 10px;}
			input{float: left; width: 490px; height: 25px; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px;}
			input.youname{margin-bottom: 20px;}
			textarea{float: left; width: 490px; height: 80px; font-family:@main-font; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px; resize: none; overflow-y: hidden; margin-bottom: 30px;}
			.kris-telBox{float: left; width: 500px; height: 50px; background-color: #f2f2f2;
				.phone-input{font-size: 24px; font-weight: 300; margin-top: 10px;}
			}
			.kris-botbtn{float: left; width: 100%; margin-top: 25px;
				.kris-botbtn-r{float: left; width: 100%; height: 50px; text-align: center;
					.submit{float: left; width: 238px; height: 50px; margin-left: 130px; text-align: center; font-size: 30px; font-weight: 300; border: 1px solid @blue-color; color: @blue-color; background-color: #ffffff; cursor: pointer;}
				}
			}
		}
	}
}

/*---------------------------------------------------------------------------------primerka----------------------------------------------------------------------------------------*/
.isTpl4{
	.kris-top-tit{float: left; width: 100%; height: 110px;
		h2{text-align: center; font-size: 40px; color: @blue-color; font-weight: 300; margin-bottom: 20px;}
		p{text-align: center; font-size: 18px; color: @main-color; font-weight: 300; margin-bottom: 20px;}
	}
	.kris-box{float: left; width: 100%; height: 387px;
		.kris-box-l{float: left; width: 335px; height: 387px; margin-right: 20px;}
		.kris-box-r{float: left; width: 440px; height: 387px;
			.kris-rama{float: left; width: 418px; height: 367px; padding: 10px; border: 1px solid #e2e2e2;}
		}
	}
	
	.kris-formbox{float: left; width: 100%; height: 370px;
		form{float: left; width: 100%; height: 100%;
			p{float: left; font-size: 14px; color: #aaa5a5; font-weight: 300; margin-bottom: 10px;}
			input{float: left; width: 325px; height: 25px; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px;}
			input.youname{margin-bottom: 20px;}
			.kris-loadBtnBox{float: left; width: 100%; height: 70px; margin-bottom: 15px;}
			.kris-telBox{float: left; width: 100%; height: 50px; background-color: #f2f2f2; margin-bottom: 20px;
				.phone-input{font-size: 24px; font-weight: 300; margin-top: 10px;}
			}

			.kris-botbtn{float: left; width: 100%; margin-top: 35px;
				.kris-botbtn-l{float: left; width: 135px; text-align: center; padding-top: 10px;
					a{color: @main-color; text-decoration: underline;}
					a:hover{text-decoration: none;}
				}
				.kris-botbtn-r{float: right; width: 100%; height: 50px;
					.submit{float: left; width: 200px; height: 50px; margin-left: 65px; text-align: center; font-size: 30px; font-weight: 300; border: 1px solid @blue-color; color: @blue-color; background-color: #ffffff; cursor: pointer;}
				}
			}

			.fileform {background-color: #ffffff; cursor: pointer; width: 335px; height: 70px; overflow: hidden; position: relative; text-align: left; vertical-align: middle;}
				.fileform .selectbutton {width: 333px; height: 68px; cursor: pointer; background-color: #ffffff; border: 1px solid @blue-color; color: @blue-color; float: left; font-size: 24px; line-height: 68px; overflow: hidden; text-align: center; vertical-align: middle; cursor: pointer;}
 					.fileform .upload{cursor: pointer; position:absolute; top:0; left:0; width:100%; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 70px; z-index:20;}
		}
	}
}

/*---------------------------------------------------------------------------------buy----------------------------------------------------------------------------------------*/
.isTpl5{
	.kris-top-tit{float: left; width: 100%; height: 80px; position: relative; top: -10px; 
		.kris-top-l{float: left; margin-left: 70px; width: 430px;
			p.tit{float: left; font-size: 25px; color: @blue-color; font-weight: 300;}
			p.id{float: right; font-size: 20px; font-weight: 300; margin-left: 70px;}
		}
		.kris-top-r{float: left; margin-left: 70px; width: 430px;
			p.autor{font-size: 20px; font-weight: 300;}
		}
	}
	.kris-sm-Imgbox{float: left; width: 100%; height: 30px; position: relative;}
		.kris-sm-img{float: left; width: 80px; height: 80px; position: absolute; left: 0px; top: -90px;
			img{max-width: 80px; max-height: 80px;}
		}
		.kris-sm-img-tit{float: left; width: 100%; height: 40px;
			.tit{float: left; width: 100%; margin-top: 30px; font-weight: normal; font-size: 18px;}
			.autor{float: left; width: 100%; font-weight: normal; font-size: 18px;}
		}
	.kris-box{float: left; width: 100%; height: 190px;}
	
	.kris-formbox{float: left; width: 100%; 
		form{float: left; width: 100%;
			p{float: left; font-size: 14px; color: #aaa5a5; font-weight: 300; margin-bottom: 20px; width: 100%;}
			input{float: left; width: 325px; height: 25px; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px;}
			input.youname{margin-bottom: 20px; width: 490px;}
			.kris-telBox{float: left; width: 100%; height: 50px; background-color: #f2f2f2; margin-bottom: 10px;
				.phone-input{font-size: 24px; font-weight: 300; margin-top: 10px;}
			}

			.kris-botbtn{float: left; width: 100%;
				.kris-botbtn-r{float: right; width: 100%; height: 50px;
					.submit{float: right; width: 200px; height: 50px; margin-left: 65px; text-align: center; font-size: 30px; font-weight: 300; border: 1px solid @blue-color; color: @blue-color; background-color: #ffffff; cursor: pointer;}
				}
			}
		}
	}
}
/*---------------------------------------------------------------------------------fav----------------------------------------------------------------------------------------*/
.isTpl6{
	.kris-top-tit{float: left; width: 100%; height: 50px; margin-bottom: 20px;
		h2{text-align: center; font-size: 40px; color: @blue-color; font-weight: 300; margin-bottom: 20px;}
	}
	.kris-box{float: left; width: 100%;
		p{width: 440px; margin: 0 auto; text-align: center; font-size: 18px;
			a{color: @blue-color; font-size: 26px; text-decoration: underline; &:hover{text-decoration: none;}}
		}
	}
}

/*---------------------------------------------------------------------------------formgo----------------------------------------------------------------------------------------*/
.isTpl7{
	.kris-top-tit{float: left; width: 100%; margin-bottom: 15px; margin-top: 10px; background-size: contain;
		h2{text-align: center; font-size: 40px; color: @blue-color; font-weight: 300;}
	}
	.kris-imgBox{float: left; width: 100%; 
		.kris-img{float: left; width: 470px; height: 285px; border: 2px solid #e2e2e2; padding: 15px;
			img{width: 470px; height: 285px;}
		}
	}
	.kris-img{float: left; width: 100%; margin-top: 20px;
		p{text-align: center;}
	}
}

/*---------------------------------------------------------------------------------fav----------------------------------------------------------------------------------------*/
.isTpl8{float: left; width: 860px;
	.formAnswWrBox{float: left; width: 860px;
		.formAnswWr-sh-l{float: left; width: 860px;}
		.formAnswWr-sh-r{float: left; width: 860px;}
	}
	.kris-formAnswBody{float: left; width: 100%;}
		.kris-formAnswBody-l{float: left; width: 420px;}
		.kris-formAnswBody-r{float: right; width: 420px;
			img{width: 100%;}
			p{margin-bottom: 10px; font-size: 16px;}
		}

			.answForm{float: left; width: 100%;
				form{float: left; width: 100%;
					p{float: left; font-size: 14px; color: #aaa5a5; font-weight: 300; margin-bottom: 10px;}
					input{float: left; width: 410px; height: 25px; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px;}
					input.youname{margin-bottom: 20px;}
					textarea{float: left; width: 410px; height: 80px; font-family:@main-font; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px; resize: none; overflow-y: hidden; margin-bottom: 30px;}
					.kris-telBox{float: left; width: 420px; height: 50px; background-color: #f2f2f2; margin-bottom: 20px;
						.phone-input{font-size: 24px; font-weight: 300; margin-top: 10px;}
					}
					.kris-botbtn{float: left; width: 100%;
						.kris-botbtn-l{float: left; width: 200px; text-align: center; padding-top: 10px;
							a{color: @main-color; text-decoration: underline;}
							a:hover{text-decoration: none;}
						}
						.kris-botbtn-r{float: right; width: 200px; height: 50px;
							.submit{float: left; width: 193px; height: 50px; text-align: center; font-size: 30px; font-weight: 300; border: 1px solid @blue-color; color: @blue-color; background-color: #ffffff; cursor: pointer;}
						}
					}
				}

			}
}
/*---------------------------------------------------------------------------------price----------------------------------------------------------------------------------------*/
.isTpl9{
	.kris-top-tit{float: left; width: 100%; background-size: contain;
		h2{text-align: center; font-size: 22px; font-weight: 300;}
	}
	.kris-top-tit.lineBkgToBot{padding-bottom: 20px;}

	.kris-txt{float: left; width: 100%;
		p.call{text-align: center; font-size: 30px; color: @blue-color; font-weight: 300; margin-bottom: 10px;}
		p.txt{text-align: center; font-size: 18px; font-weight: 300;}
	}
}


/*---------------------------------------------------------------------------------favPage----------------------------------------------------------------------------------------*/
.favPage{padding-top: 15px;
	.favMain{margin-bottom: 40px;}
	p.hi{text-align: center; margin-bottom: 20px; 
		span{text-decoration: underline;}
	}
	h2{text-align: center; margin-bottom: 20px;}
	ul.favNav{width: 850px; list-style-type: none; margin-left: 45px;
		li{float: left; width: 270px; height: 75px; margin-left: 20px;
			.btn{width: 265px; height: 70px; line-height: 70px; border: 2px solid #b7b7b7; background-color: #ffffff; cursor: pointer; color: #787878; font-size: 22px; text-align: center; &:hover{border: 2px solid @blue-color; color: @blue-color;}}
			.btn.active{border: 2px solid @blue-color; color: @blue-color;}
			.btn.twoSt{line-height: 30px;}
		}
		li:first-child{margin-left: 0px;}
	}
}

.picline.favMainLine{float: left; width: 960px; margin-left: -14px;
	.kris-fav-box{float: left; width: 220px; height: 280px; border: 2px solid #f0f0f0; margin-left: 14px;
		a{float: left; display: block; width: 100%; height: 100%;}
	}

		.kris-fav-img{float: left; width: 200px; height: 200px; padding: 10px; text-align: center;
			img{max-width: 100%; max-height: 100%;}
		}
		.kris-fav-tit{float: left; width: 180px; height: 50px; margin: 0px 10px 10px 10px; padding-right: 20px; position: relative;
			background-image:url('../img/collfonFav-pass.jpg'); background-repeat: no-repeat; background-position: right top;
			.delFromFav{width: 25px; height: 25px; position: absolute; cursor: pointer; right: 0px;}
		}
			.kris-fav-fg{float: left; width: 100%; height: 100%; overflow: hidden; font-size: 16px;}
	.kris-fav-box:hover{border: 2px solid #5f61ac;}
	.kris-fav-box:hover .kris-fav-tit{background-image:url('../img/collfonFav-act.jpg');}
	.kris-fav-box.active{border: 2px solid #7e7f81;}
	.kris-fav-box.active .kris-fav-tit{background-image:url('../img/collfonFav-act.jpg');}
}

/*---------------------------------------------------------------------------------collectionPage----------------------------------------------------------------------------------------*/
#info-about-pic{display: none;}
.collectionPage{padding-top: 15px;
	h1{margin-bottom: 15px;}
	.lineBkgToBot{padding-bottom: 30px;}
}
.kris-collPage-about.styleTxt{width: 800px; margin: 0 auto;
	.kris-about-l{display: none;}
	.kris-about-r{float: left; width: 100%;}
}

.kris-collPage-about.styleImg1{width: 100%;
	.kris-about-l{float: left; width: 50%;
		img{float: left; max-width: 420px; cursor: pointer;}
	}
	.kris-about-r{float: left; width: 50%;}
}
.kris-collPage-about.styleImg2{width: 100%;
	.kris-about-l{float: left; width: 440px;
		.kris-part-l{float: left; width: 190px; margin-right: 20px;
			img{float: left; max-width: 100%; margin-bottom: 20px; cursor: pointer;}
		}
		.kris-part-r{float: left; width: 190px;
			img{float: left; max-width: 100%; cursor: pointer;}
		}
	}
	.kris-about-r{float: left; width: 500px;}
}
.kris-collPage-about{
	p{font-size: 16px; margin-bottom: 10px;}
}

.headerMoreInfo{
	span.blue-h{margin-right: 20px; line-height: 40px;}
	span.idMoreInfo{font-size: 23px; font-weight: normal; line-height: 48px;}
	p{text-align: left; font-size: 20px;}
}


.showMoreInfo{height: 480px;
	.showMoreInfo-btnbox{float: left; width: 50px; height: 100%;}
	.btn{float: left; width: 50px; height: 100%; background-repeat: no-repeat; cursor: pointer; display: none;}
	.showMoreInfo-btn-l{background-image:url('../img/moreInfoBtn-l.jpg'); background-position: left center;}
	.showMoreInfo-btn-r{background-image:url('../img/moreInfoBtn-r.jpg'); background-position: right center;}
	.showMoreInfoBody{float: left; width: 840px; height: 100%;}
		.showMoreInfoBody-l{float: left; width: 520px; height: 460px; margin-top: 20px;}
			.showMoreInfo-boximg{float: left; width: 480px; height: 460px; display: table;}
				.showMoreInfo-boxSm-valign{width: 480px; height: 100%; display: table-cell; vertical-align: middle; text-align: center;}
				.insertBigimg{height: 460px;}
		.showMoreInfoBody-r{float: left; width: 320px; height: 460px;}
			.showMoreInfoBody-r-t{float: left; width: 100%; height: 230px;}
				.showMoreInfo-boxSm{width: 170px; height: 170px; padding: 20px; border: 2px solid #f5f5f5; margin: 0 auto; cursor: pointer;
					img{width: 100%; height: 100%; }
				}
			.showMoreInfoBody-r-b{float: left; width: 100%; height: 250px; overflow: hidden;}
				.showMoreInfotxt-ul{float: left; width: 100%; list-style-type: none;
					li{float: left; width: 100%; margin-bottom: 15px; font-size: 11px;
						a{font-size: 11px;}
						.blue{color: @blue-color; font-weight: bold;}
					}
				}

}
.showMoreInfoTop{float: left; width: 100%; height: 55px;}
.showMoreInfoBot{float: left; width: 100%; height: 195px;}
	.showMoreInfoOptions{float: left; width: 100%; height: 95px;
		ul{float: left; width: 100%; list-style-type: none;
			li{float: left; width: 100%; height: 33px; margin-bottom: 10px; cursor: pointer;}
			li.pr:hover .imgPrm{background-position: left bottom;}
			/*li.addlike:hover .imgFav{background-position: left bottom;}*/
			.img{float: left; width: 33px; height: 33px; background-position: left top;}
			.txt{float: left; width: 270px; height: 33px; margin-left: 17px; line-height: 33px;}
			.img.active{background-position: left bottom;}
			.imgFav{background-image:url('../img/likebtnbig.jpg');}
			.imgFav.active{background-position: left bottom;}
			.imgPrm{background-image:url('../img/prim.jpg');}
		}
	}




		.kris-pic-tagbox{float: left; width: 440px; list-style-type: none; font-size: 11px;
			li{display: inline;
				a{font-size: 11px; &:hover{text-decoration: underline;}}

			}
			.blue{color: @blue-color; font-weight: bold;}
			
		}
	.showMoreInfoBotBuy{float: left; width: 100%; height: 100px;}
		.kris-pricebox{float: left; margin-bottom: 10px;
			p{font-size: 23px; text-align: center;
				.price{color: @blue-color; font-size: 33px;}
			}
		}
		.kris-btn-buy{float: left; width: 318px; height: 50px; border: 1px solid @blue-color; line-height: 50px; text-align: center; font-size: 33px; color: @blue-color; cursor: pointer;
			&:hover{border: 1px solid #bed6f2;  color: #bed6f2;}
		}

/*---------------------------------------------------------------------------------contacty----------------------------------------------------------------------------------------*/
.kris-office-part{float: left; width: 470px;}
	.kris-off-foto{float: left; width: 390px;}
		.kris-off-img{float: left; width: 100%;
			img{width: 100%;}
		}
		.kris-off-fg{float: left; width: 100%; margin-top: 20px;}
			.kris-fg-t,.kris-fg-b{float: left; width: 100%;}
			.kris-fg-t{font-size: 18px; text-align: center;}
			.kris-fg-b{margin-top: 5px;
				.kris-address{float: left; font-style: normal; color: @blue-color; text-align: center;
					.tel{margin-bottom: 5px; font-size: 26px;}
					.mail a{color: @blue-color; font-size: 20px; &:hover{text-decoration: underline;}}
				}	
			}

	.kris-office-txtBox{float: left; width: 100%; margin-bottom: 20px;
		p.officeTit{font-size: 24px; text-align: center; font-weight: 300; margin-bottom: 15px;}
		p{font-size: 16px; text-align: center; font-weight: 300; margin-bottom: 5px;}
		p.colBlue{color: @blue-color;}
	}			
	.kris-office-mapBox{float: left; width: 100%;
		.kris-mapBox-t{float: left; width: 470px; margin-bottom: 10px;
			a{float: left; width: 230px; margin-right: 5px; font-size: 15px; text-decoration: underline; &:hover{text-decoration: none;}}
		}
		.kris-mapBox-b{float: left; width: 470px; height: 470px;}
	}	

	.kris-tit-punkt{float: left; width: 100%; font-style: normal; color: @blue-color; text-align: center; font-size: 36px;}		
	.self-punkt{text-align: center; margin-top: 15px; margin-bottom: 10px;}
	.kris-selfPunktBox{float: left; width: 100%; margin-bottom: 40px;}
		.kris-selfPunktBoxUl{float: left; width: 100%; list-style-type: none;
			li{background-image:url('../img/galkat.jpg'); background-repeat: no-repeat; background-position: left 10px; padding-left: 25px;
				a{font-size: 22px; color: @blue-color; text-decoration: underline; &:hover{text-decoration: none;}}
				ul{list-style-type: none; margin-left: 20px; margin-bottom: 5px;
					li{background-image: none;
						a{font-size: 15px; color: @main-color; text-decoration: underline; &:hover{text-decoration: none;}}
					}
				}
			}
		}
/*---------------------------------------------------------------------------------gorod----------------------------------------------------------------------------------------*/
	.kris-gorod{margin-bottom: 20px;
		.kris-address-gorod{float: left; width: 100%; margin-bottom: 20px;}
			.kris-gorodContact{float: left; width: 100%; list-style-type: none;
				li{float: left; width: 100%; margin-bottom: 10px;}
				li p{float: left; width: 100%; margin-bottom: 5px; font-size: 14px; font-weight: 300;}
				li .info{float: left; width: 360px; margin-bottom: 5px; padding-left: 40px; background-repeat: no-repeat; background-position: left top; min-height: 35px;
					p{font-size: 14px;}
					p.addrTxt{color: @blue-color; font-weight: bold;}
				}
				li.addr .info{background-image:url('../img/addr.jpg');}
				li.time .info{background-image:url('../img/time.jpg');}
				li.price .info{background-image:url('../img/price.jpg');}
				li.srok .info{background-image:url('../img/time.jpg');}
			}
			.kris-callBack{float: left; width: 100%;
				.cb{margin-top: 30px; float: left; width: 318px; border: 1px solid @blue-color; padding: 5px 0; text-align: center; font-size: 33px; color: @blue-color; cursor: pointer;
					&:hover{border: 1px solid #bed6f2;  color: #bed6f2;}
				}
			}
			.kris-office-part{
				.p2{float: right; width: 400px; margin-top: 20px;}
			}
	}
/*---------------------------------------------------------------------------------emptSrch----------------------------------------------------------------------------------------*/
.kris-emptSrch{margin-bottom: 20px;
	.emptAnsw{
		.grey{font-size: 20px; text-align: center; margin-bottom: 0px;}
		.blue{font-size: 20px; text-align: center; margin-bottom: 0px; color: @blue-color;}
	}
	.emptAnsw.lineBkgToBot{padding-bottom: 25px;}
	.emptAnswWr{
		.blue{font-size: 20px; text-align: center; margin-bottom: 0px; color: @blue-color; margin-top: 0px;}
	}
	.emptAnswWr.lineBkgToBot{padding-bottom: 25px;}
	.formAnswWrBox{
		.formAnswWr-sh-l{float: left; width: 918px; padding-left: 22px; background-image:url('../img/sh-l.jpg'); background-repeat: no-repeat; background-size: contain; background-position: left center;}
		.formAnswWr-sh-r{float: left; width: 896px; padding-right: 22px; background-image:url('../img/sh-r.jpg'); background-repeat: no-repeat; background-size: contain; background-position: right center;}
	}
	.formAnswWrBox .lineBkgToBot{padding-bottom: 30px;}
	.kris-formAnswBody{float: left; width: 100%;}
		.kris-formAnswBody-l{float: left; width: 420px; margin-right: 20px; margin-left: 20px;}
		.kris-formAnswBody-r{float: left; width: 420px;
			img{width: 100%;}
			p{margin-bottom: 10px; font-size: 16px;}
		}

			.answForm{float: left; width: 100%;
				form{float: left; width: 100%;
					p{float: left; font-size: 14px; color: #aaa5a5; font-weight: 300; margin-bottom: 10px;}
					input{float: left; width: 410px; height: 25px; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px;}
					input.youname{margin-bottom: 20px;}
					textarea{float: left; width: 410px; height: 80px; font-family:@main-font; border: 0px solid transparent; background-color: #f2f2f2; color: @main-color; padding: 5px; font-size: 16px; resize: none; overflow-y: hidden; margin-bottom: 30px;}
					.kris-telBox{float: left; width: 420px; height: 50px; background-color: #f2f2f2; margin-bottom: 20px;
						.phone-input{font-size: 24px; font-weight: 300; margin-top: 10px;}
					}
					.kris-botbtn{float: left; width: 100%;
						.kris-botbtn-l{float: left; width: 200px; text-align: center; padding-top: 10px;
							a{color: @main-color; text-decoration: underline;}
							a:hover{text-decoration: none;}
						}
						.kris-botbtn-r{float: right; width: 200px; height: 50px;
							.submit{float: left; width: 193px; height: 50px; text-align: center; font-size: 30px; font-weight: 300; border: 1px solid @blue-color; color: @blue-color; background-color: #ffffff; cursor: pointer;}
						}
					}
				}

			}
}

/*---------------------------------------------------------------------------------404----------------------------------------------------------------------------------------*/
.kris-error404{margin-bottom: 20px;
	.empt404{
		.grey{font-size: 30px; text-align: center; margin-bottom: 10px; font-weight: bold; color: #b9b9b9;}
		.blue{font-size: 30px; text-align: center; margin-bottom: 10px; color: @blue-color;}
		a{font-size: 30px; text-align: center; margin-bottom: 10px; color: @blue-color; &:hover{text-decoration: underline;}}
	}
}

/*---------------------------------------------------------------------------------footer----------------------------------------------------------------------------------------*/
.kris-pusher{display:block; width:100%; clear:both; height:70px;}
.kris-f-line{position:absolute; bottom:0px; width:100%; height:70px;}
.kris-f{display:block; margin:0px auto; width:980px; height:70px;
	p{font-size: 14px; text-align: center; color: #b8b8b8;}
}
























