﻿/*---------------------------------------------------------------------------select------------------------------------------------------------------------*/	
/*---------------------------------style-1--------------------------------------*/
.styleselect-1{display:none;}	
.kris_selektbox_t1{cursor:pointer; position:relative; left:0px; top:0px; z-index:5;}
	.kris_selektbox_t1 .selektbox-title-t1{height:30px; line-height:30px;}
		.kris_selektbox_t1 .selektbox-title-t1__span{border-bottom:1px #383838 dashed; color:#383838;}
		.kris_selektbox_t1 .selektbox-title-t1__span:hover{color:#0e3a88; border-bottom:1px #0e3a88 dashed;}
		.kris_selektbox_t1 .selektbox-title-t1.active span{color:#0e3a88; border-bottom:1px #0e3a88 dashed;}
	.kris_selektbox_t1 .kris-listbox{width:370px; position:absolute; top:27px; left:0; background-color:#fafafa; border:1px solid #cacaca; 
						border-radius:3px; 
						-moz-border-radius:3px; 
						-webkit-border-radius:3px; 
						-khtml-border-radius:3px; 
						-o-border-radius:3px;
						box-shadow:0 3px 5px 0px #cacaca; 
						-webkit-box-shadow:0 3px 5px 0px #cacaca; 
						-moz-box-shadow:0 3px 5px 0px #cacaca; 
						-khtml-box-shadow:0 3px 5px 0px #cacaca; 
						-o-box-shadow:0 3px 5px 0px #cacaca;
						behavior: url(css/PIE.php);}
		.kris_selektbox_t1 .kris-selbody{float:left; width:370px;}
			.kris_selektbox_t1 .kris-selbody__ul{float:left; width:350px; list-style-type:none; margin-left:10px; margin-top:10px; margin-bottom:10px;}
				.kris_selektbox_t1 .kris-selbody__ul__li{float:left; width:350px;}
				.kris_selektbox_t1 .kris-selbody__ul__li span{float:left; width:350px; margin-bottom:10px; margin-top:10px;}
				.kris_selektbox_t1 .kris-selbody__ul__li:hover{color:#0e3a88;}
				.kris_selektbox_t1 .kris-selbody__ul__li.active{color:#0e3a88;}
		.kris_selektbox_t1 .selektbox-title-t1__btn{display:none;}
		.kris_selektbox_t1 .selektbox-title-t1__btn2{display:none;}

				
/*---------------------------------style-2--------------------------------------*/				
.styleselect-2{display:none;}					
.kris_selektbox_t2{cursor:pointer; position:relative; left:0px; top:0px; z-index:5;}
	.kris_selektbox_t2 .selektbox-title-t1{float:left; width:180px; height:20px; line-height:20px; background-color:#ffffff; border:1px solid #bebebe; overflow:hidden;
						border-radius:3px; 
						-moz-border-radius:3px; 
						-webkit-border-radius:3px; 
						-khtml-border-radius:3px; 
						-o-border-radius:3px;}
		.kris_selektbox_t2 .selektbox-title-t1__span{float:left; width:145px; padding-left:5px; border-right:1px #c4c4c4 solid; color:#323232;}
		.kris_selektbox_t2 .selektbox-title-t1__btn{float:left; width:28px; height:20px;
						border-radius:3px; 
						-moz-border-radius:3px; 
						-webkit-border-radius:3px; 
						-khtml-border-radius:3px; 
						-o-border-radius:3px;
						box-shadow:0 3px 5px 0px #cacaca;
						background:-moz-linear-gradient(top, #fafafa, #ededed); 
						background:-ms-linear-gradient(top, #fafafa, #ededed); 
						background:-o-linear-gradient(top, #fafafa, #ededed); 
						background:-webkit-linear-gradient(top, #fafafa, #ededed);
						background: linear-gradient(top, #fafafa, #ededed);
						-pie-background:linear-gradient(#fafafa, #ededed);
						behavior: url(css/PIE.php); position:relative;}
		.kris_selektbox_t2 .selektbox-title-t1__btn2{float:left; width:28px; height:20px; background-image:url('../img/sprite-png.png'); background-position:-57px 1px; background-repeat:no-repeat;}
						
	.kris_selektbox_t2 .kris-listbox{float:left; position:absolute; width:290px; top:21px; left:0; background-color:#fafafa; border:1px solid #cacaca; 
						border-radius:3px; 
						-moz-border-radius:3px; 
						-webkit-border-radius:3px; 
						-khtml-border-radius:3px; 
						-o-border-radius:3px;
						box-shadow:0 3px 5px 0px #cacaca; 
						-webkit-box-shadow:0 3px 5px 0px #cacaca; 
						-moz-box-shadow:0 3px 5px 0px #cacaca; 
						-khtml-box-shadow:0 3px 5px 0px #cacaca; 
						-o-box-shadow:0 3px 5px 0px #cacaca;
						behavior: url(css/PIE.php);}
												
		.kris_selektbox_t2 .kris-selbody{float:left; width:270px;}
			.kris-selbody-rels{float:left; width:260px; height:230px; margin-bottom:10px; margin-left:10px; margin-top:10px; overflow:hidden; position:relative;}
				.kris_selektbox_t2 .kris-selbody__ul{float:left; width:250px; list-style-type:none; position:absolute; left:0px; top:0px;}
					.kris_selektbox_t2 .kris-selbody__ul__li{float:left; width:260px;}
					.kris_selektbox_t2 .kris-selbody__ul__li:hover{color:#0e3a88;}
					.kris_selektbox_t2 .kris-selbody__ul__li.active{color:#0e3a88;}
						.kris_selektbox_t2 .kris-selbody__ul__li span{float:left; width:260px; margin-bottom:10px; margin-top:10px;}
				
		.kris_selektbox_t2 .kris_scrollbox{float:left; width:20px; height:230px; margin-top:10px; position:relative;  left:0; top:0px;}
			.kris_selektbox_t2 .kris_scroll{float:left; width:10px; height:70px; cursor:pointer; position:absolute; left:0; top:0px; background-color:#bebebe;
											border-radius:10px; 
											-moz-border-radius:10px; 
											-webkit-border-radius:10px; 
											-khtml-border-radius:10px; 
											-o-border-radius:10px;
											behavior: url(css/PIE.php);}

				
				
				
				
				
/*---------------------------------------------------------------------------radio------------------------------------------------------------------------*/	
/*---------------------------------style-1--------------------------------------*/
.styleradio-1{display:none;}				
.kris_radio_t1{cursor:pointer;}
				
.kris_radio_t1 .krisform-radio{float:left; width:20px; height:20px; background-color:#ffffff; border:1px solid #bebebe; cursor:pointer;
				border-radius:20px; 
				-moz-border-radius:20px; 
				-webkit-border-radius:20px; 
				-khtml-border-radius:20px; 
				-o-border-radius:20px;
				behavior: url(css/PIE.php); position:relative;}
				
.kris_radio_t1 .krisform-radio.radio-passive{background-color:#ffffff; border:1px solid #bebebe;}
.kris_radio_t1 .krisform-radio.radio-active{background-color:#1e5099; border:0px;  width:22px; height:22px;
								background:-moz-linear-gradient(top, #1e5099, #0b2f78); 
								background:-ms-linear-gradient(top, #1e5099, #0b2f78); 
								background:-o-linear-gradient(top, #1e5099, #0b2f78); 
								background:-webkit-linear-gradient(top, #1e5099, #0b2f78);
								background: linear-gradient(top, #1e5099, #0b2f78);
								-pie-background:linear-gradient(#1e5099, #0b2f78); 
								behavior: url(css/PIE.php); position:relative;}
	


/*---------------------------------style-2--------------------------------------*/
.styleradio-2{float:left; display:block; height:20px; border:1px #c7c7c7 solid; background-color:#fdfdfd;
						border-radius:3px; 
						-moz-border-radius:3px; 
						-webkit-border-radius:3px; 
						-khtml-border-radius:3px; 
						-o-border-radius:3px;
						cursor:pointer;
						background:-moz-linear-gradient(top, #fdfdfd, #ededed); 
						background:-ms-linear-gradient(top, #fdfdfd, #ededed); 
						background:-o-linear-gradient(top, #fdfdfd, #ededed); 
						background:-webkit-linear-gradient(top, #fdfdfd, #ededed);
						background: linear-gradient(top, #fdfdfd, #ededed);
						-pie-background:linear-gradient(#fdfdfd, #ededed); 
						behavior: url(css/PIE.php); position:relative;}	
.styleradio-2 input{display:none;}
.kris_radio_t2{float:left; cursor:pointer; height:20px; border-left:1px #c7c7c7 solid;}	
.kris_radio_t2:first-child{border-left:0px;}					
	.kris_radio_t2 .krisform-radio{float:left; padding-right:17px; padding-left:17px; line-height:20px; cursor:pointer; height:20px;}
	.kris_radio_t2 .radio-active{background-color:#cddffc;}


	


/*---------------------------------------------------------------------------checkbox------------------------------------------------------------------------*/
/*.kris_checkbox_t1 {cursor:pointer;}
.stylecheckbox-1{display:none;}
.kris_checkbox_t1 .krisform_checkbox{float:left; width:20px; height:20px; background-color:#FFFFFF; border:1px solid #bbbbbb; cursor:pointer; margin-right:10px;
										border-radius:3px; 
										-moz-border-radius:3px; 
										-webkit-border-radius:3px; 
										-khtml-border-radius:3px; 
										-o-border-radius:3px;
										behavior: url(css/PIE.php); position:relative;}
						
.kris_checkbox_t1 .checkbox_active{background-image:url('../img/sprite-png.png'); background-position:-59px -26px;}
.kris_checkbox_t1 .checkbox_passive{background-image:none;}
.kris_checkbox_t1 .checkbox_title{float:left; margin-top:3px;}*/	


/*---------------------------------------------------------------------------toddler------------------------------------------------------------------------*/	
.kris_toddler_t1{float:left; width:180px; height:22px; background-image:url('../img/sprite-png.png');  background-position:-85px 0px; background-repeat:no-repeat; position:relative; left:0px; top:0px;}
	.kris_toddler_t1 .kris_toddler_btn{width:45px; height:20px; background-color:#FFFFFF; border:1px solid #c7c7c7; cursor:pointer; position:absolute; top:0px; color:#323232; line-height:20px; text-align:center;
										border-radius:3px; 
										-moz-border-radius:3px; 
										-webkit-border-radius:3px; 
										-khtml-border-radius:3px; 
										-o-border-radius:3px;
										background:-moz-linear-gradient(top, #fafafa, #ededed); 
										background:-ms-linear-gradient(top, #fafafa, #ededed); 
										background:-o-linear-gradient(top, #fafafa, #ededed); 
										background:-webkit-linear-gradient(top, #fafafa, #ededed);
										background: linear-gradient(top, #fafafa, #ededed);
										-pie-background:linear-gradient(#fafafa, #ededed); 
										behavior: url(css/PIE.php);}
	.kris_toddler_t1 .kris_toddler_btn:hover{background:-moz-linear-gradient(top, #FFFFFF, #FFFFFF); 
										background:-ms-linear-gradient(top, #FFFFFF, #FFFFFF); 
										background:-o-linear-gradient(top, #FFFFFF, #FFFFFF); 
										background:-webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
										background: linear-gradient(top, #FFFFFF, #FFFFFF);
										-pie-background:linear-gradient(#FFFFFF, #FFFFFF); 
										behavior: url(css/PIE.php);}
	.kris_toddler_t1 .toddler_btnleft{left:0px;}
	.kris_toddler_t1 .toddler_btnright{left:133px;}
	
	.kris_toddler_t1 .kris_toddler_active{width:86px; height:5px; background-color:#174b96; position:absolute; top:8px; left:47px;
										background:-moz-linear-gradient(top, #174b96, #0c327c); 
										background:-ms-linear-gradient(top, #174b96, #0c327c); 
										background:-o-linear-gradient(top, #174b96, #0c327c); 
										background:-webkit-linear-gradient(top, #174b96, #0c327c);
										background: linear-gradient(top, #174b96, #0c327c);
										-pie-background:linear-gradient(#174b96, #0c327c); 
										behavior: url(css/PIE.php);}


















































	